<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <div class="row row-centered">
			<div class="col-sm-1 col-centered">
				<span>Player.1</span>
				<button id="6" class="btn btn-default btn-circle">0</button>
			</div>
			<div class="col-sm-3 col-centered">
				<div class="row row-centered">
					<div class="btn-group">
						<button id="5" type="button" class="btn btn-primary custom"
							onclick="move(5)">6</button>
						<button id="4" type="button" class="btn btn-primary custom"
							onclick="move(4)">6</button>
						<button id="3" type="button" class="btn btn-primary custom"
							onclick="move(3)">6</button>
						<button id="2" type="button" class="btn btn-primary custom"
							onclick="move(2)">6</button>
						<button id="1" type="button" class="btn btn-primary custom"
							onclick="move(1)">6</button>
						<button id="0" type="button" class="btn btn-primary custom"
							onclick="move(0)">6</button>
					</div>
				</div>
				<div class="row row-centered">
					<div class="btn-group">
						<button id="7" type="button" class="btn btn-danger custom"
							onclick="move(7)">6</button>
						<button id="8" type="button" class="btn btn-danger custom"
							onclick="move(8)">6</button>
						<button id="9" type="button" class="btn btn-danger custom"
							onclick="move(9)">6</button>
						<button id="10" type="button" class="btn btn-danger custom"
							onclick="move(10)">6</button>
						<button id="11" type="button" class="btn btn-danger custom"
							onclick="move(11)">6</button>
						<button id="12" type="button" class="btn btn-danger custom"
							onclick="move(12)">6</button>
					</div>
				</div>
			</div>
			<div class="col-sm-1 col-centered">
				<span>Player.2</span>
				<button id="13" class="btn btn-default btn-circle">0</button>
			</div>
		</div>
</div>
<h2 align="center">Options: </h2>
    <h2 align="center"><a target="_blank" rel="noopener" href="https://google.com">Instructions</a></h2>

    <h2 align="center"><a target="_blank" rel="noopener" href="https://google.com">Settings</a></h2>
    <div text-align="center">
      <button class = "playButton" mat-fab color="primary">Play</button> 
    </div>


